.chartsGrid {
    margin: -.5rem auto;
    margin-top: 1rem;
    padding: 1rem 0;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & > * {
        margin: .5rem;
    }
}

.cell {
    width: 100%;
    max-width: 490px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    transform: translateY(0);
    transition: transform 200ms;

    &.expanded > .chartTitle {
        clip-path: inset(-40px -40px 0px -40px);
    }

    &.expanded .chevron {
        transform: rotateZ(-180deg);
    }
}

.chartTitle {
    height: 6rem;
    font-family: Inter;
    margin: 0;
    text-align: center;
    width: 100%;
    font-weight: 300;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
    padding: 2rem;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    .titleText {
        margin-left: auto;
    }


    .chevron {
        margin-left: auto;
        font-size: 2rem;
        transition: transform 200ms;
        flex-shrink: 0;
    }

    span.ripple {
        position: absolute;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1);
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;      
        opacity: 0;
    } 
}

.chartWrapper {
    position: absolute;
    width: 100%;
    padding: inherit;
    min-height: 600px;
    height: 600px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 99.5%;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);

    background-color: white;
    display: none;

    clip-path: inset(0 -40px -40px -40px);
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 200ms ease;
    will-change: transform;
}

.minimized {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Inter;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 3rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lastRow {
    margin-bottom: 2rem;
}